/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dosis', sans-serif;
*/
header {
    background-color: #55c1ff;
    text-align: center;
}
body {
    background: ghostwhite !important;
    color: #55c1ff;
}
main {
    margin-bottom: 90px;
}
h1 {
    color: #102E4A;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 350%;
    text-align: left;
    margin-left: none;
    padding-bottom: 0%; 
}
h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 300%;
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
}
h3 {
    text-align: center;
}
#logo {
    height: 170px;
    margin: 0 auto;
}
#nous_contacter {
    height: 150px;
}
.lien_contacter {
    color: ghostwhite;
    font-size: 130%;
    font-weight: bold;
}
.lien_contacter:hover {
    text-decoration: none;
}
.navbar-perdu {
    background-color: #5887ff;
    color: ghostwhite;
    border: #55c1ff;
    padding: 0.5% 5%;

}
.navbar-brand, .nav-btn-droit {
    color: white !important;
    text-align: center;
}
.nav-btn-droit{
    font-size: 120%;
    font-weight: bold;
}


.pub {
    background: ghostwhite;
    text-align: justify;
    color:  #5887ff;
    margin: 20px 5px;

}
.lienscentraux {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #d0dfed;
    /*padding: 20% 10%;*/
    width: 100%;
    text-align: center;
}

@media (max-width: 960px) {
    .lienscentraux {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #d0dfed;
        /*padding: 20% 10%;*/
        width: 100%;
        text-align: center;
    }
}

.lien_annonce:hover {
    text-decoration: none;
}
.liste_annonce {
    font-size: 120%;
}



.boutons {
    text-decoration: none;
    color: #102E4A;
    font-weight: bold;
    font-size: 200%;
    width: 100%;
}
.boutons:hover {
    text-decoration: none;
    
}
.btn-boutons {
    /*padding: 5%;
    margin: 5%;*/
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 20px grey,
        inset 0 2px 0 white,
        0 2px 0 grey,
        inset 0 0 20px grey;
    font-size: 150%;
    /* pour boutons d'envoi */
    display: flex;
    justify-content: center;
}
.btn_text {
    text-align: center;
    color: #102E4A;
    font-weight: bold;
    align-items: flex-end;
    padding-top: 115px;
}
button {
    text-align: center;
    margin:  0 auto;
}
#btn_perdu {
    background-image: url("../images/logo/perdu_bouton.jpg");
}
#btn_annonce {
    background-image: url("../images/logo/depose_annonce_bouton.jpg");
}
#btn_trouve {
    background-image: url("../images/logo/trouve_bouton.jpg");
}
#btn_inscrire{
    background-image: url("../images/logo/inscrire150.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.btn_contact_annonceur {
    background-image: url("../images/logo/contact_annonceur150.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn_buttons {
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    /*line-height: 100px;*/
    margin: 30px;
    padding-top: 150px;
    box-shadow: 0 0 20px grey,
        inset 0 2px 0 white,
        0 2px 0 grey,
        inset 0 0 20px grey;
}
@media (max-width: 1190px) {
    .btn_buttons {
    background-size: contain;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    /*line-height: 100px;*/
    margin: 30px;
    padding-top: 150px;
    box-shadow: 0 0 20px grey,
        inset 0 2px 0 white,
        0 2px 0 grey,
        inset 0 0 20px grey;
    }
}
.btn_centre{
    padding-top: 10px;
}

.btn_buttons:hover {
    box-shadow: 2px 2px 45px grey,
        inset 2px 4px 2px white,
        2px 4px 2px grey,
        inset 2px 2px 45px grey;
    transform: scale(1.2);
}

#img_perdu {
    height: 150px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    box-shadow: 0 0 20px grey,
        inset 0 2px 0 white,
        0 2px 0 grey,
        inset 0 0 20px grey;
}
.annonces {
    text-align: center;
}
.photoObjet {
    height: 180px;
/*    margin-left: 45px;*/
   /* margin-top: 5%;
    margin-right: 50%;*/
    margin:  0 auto;
}
#image_annonce {
    height: 200%;
    margin: 5% auto;
}
.detail_annonce {
    display: inline-block;
}
legend {
    font-family: 'Dosis', sans-serif;
    font-size: 150%;
    margin: 5% auto;
    text-align: center;
    font-weight: bold;
}
.pays
{
    overflow-y: auto;
    height: 300px;
}
.resultat {
    font-size: 400%;
}
.renvoi {
    color: red;
    font-weight: bold;
    font-size: 150%;    
}
.clearfix {
    clear: both;
}
footer {
    /*padding: 1%;*/
    /*margin-top:25%;*/
    background-color: #5887ff;
    text-align: center;
    color: #102E4A;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
}
.footdiv {
    display: inline-block;
    text-align: center;
    color: aliceblue;
}
footer div a {
    color: ghostwhite;
    font-size: 110%;
}